.navigation {
  position: absolute;
  top: 40px;
  color: white;
  z-index: 9000;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation ul {
  width: 80%;
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.current-nav-btn,
.nav-btn {
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 100px;
}

.nav-btn {
  background-color: rgba(229, 197, 67, .7);
}

.nav-btn:hover {
  transform: scale(1.05);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.nav-btn:active {
  transform: scale(.95);
  border-color: #fff;
  box-shadow: 0 0 1rem #fff;
}

.current-nav-btn {
  border: .5px solid rgba(229, 197, 67, .7);
}