:root {
  --gold: rgb(164 100 37);
  --tan: rgb(183 161 124);
  --lightTan: rgb(192 180 157);
  --accentBlue: rgb(0 124 230);
  --accentRed: rgb(174 0 0);
}

.navigation {
  position: absolute;
  top: 40px;
  color: var(--white);
  z-index: 9000;
  width: 100vw;
  margin: auto;
  text-align: center;
}

.nav-ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

a.active {
  color: blue;
  background-color: transparent;
}

a {
  color: black;
}

.navigation ul {
  width: 80%;
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.current-nav-btn,
.nav-btn {
  color: var(--gold);
  margin: 10px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 100px;
}

.nav-btn {
  background: var(--lightTan);
  padding: 0px, 5px;
  border: 3px solid var(--tan);
  text-decoration: underline var(--gold);
}

.nav-btn:hover {
  transform: scale(1.05);
  border-color: var(--accentRed);
  box-shadow: 0 0 1rem var(--gold);
}

.nav-btn:active {
  background: var(--tan);
  transform: scale(.95);
  box-shadow: 0 0 1rem #fff;
  border: 3px solid var(--accentBlue);
}

.current-nav-btn {
  border: 3px solid var(--accentBlue);
  text-decoration: underline var(--accentBlue);
}